<footer class="container-fluid footer-end">
     <div class="footer-text">
        <div class="container">
            <div class="row">   
                <div class=" col-sm-12 col-md-3 ">
                    <h4>About</h4>
                    <div class="lorem">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Neque facere laudantium magnam voluptatum autem. Amet aliquid nesciunt veritatis aliquam.</p>
                   
                    </div>
                    
                        </div>
                <div class=" col-sm-12 col-md-3 quick">
                    <h4>Quick Links</h4>
                    <div class="quick">\
                        <ul>
                            <li>About Us</li>
                            <li>Service</li>
                            <li>Testimonials</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                  
                </div>
                <div class=" col-sm-12 col-md-3 follow">
                    <h4>Follow Us</h4>
                    <div class="d-flex icon-it">
                        <i class="fa fa-facebook" style="font-size:24px; color: white;"></i>
                        <i class="fa fa-instagram" style="font-size:24px; color: white;"></i>
                        <i class="fa fa-linkedin" style="font-size:24px; color: white;"></i>
                        <i class="fa fa-twitter" style="font-size:24px; color: white;"></i>
                    </div>
                </div>
                <div class=" col-sm-12 col-md-3">
                    <h4>Souscribe Newletter</h4>
                    <div class="d-flex">
                        <input type="text" class="input" placeholder="Enter mail">
                        <button class="btn">Send</button>
                    </div>
                </div>
            </div>
        </div>
     </div>

     <hr class="trait">
     <div class="copyrit">
        <p>Copyright ©2023 All rights reserved | This template is made with  by Colorlib</p>
     </div>
</footer>
  