<div class="container-fluid service-end">
    <div class="title--service">
        <div class="title">
            <h6>SERVICES</h6>
            <h4>Our Services</h4>
        </div>
        <div class="container ">
          <div class="row">
            <div class=" col-sm-12 col-md-6 formul">
              <section class="forme" id="forme">
                <div class="container">
                  <div class="row">
                
              
                    <div class="col-12  mx-auto my-5">
                      <div class="row">
                        <div class="col-12 col-md-6">
                          <div class="mb-3">
                            <input
                              type="email"
                              class="form-control"
                              id="exampleFormControlInput1"
                              placeholder="First name"
                            />
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="mb-3">
                            <input
                              type="email"
                              class="form-control"
                              id="exampleFormControlInput1"
                              placeholder="Last name"
                            />
                          </div>
                        </div>
                        <div class="mb-3">
                          <input
                            type="email"
                            class="form-control"
                            id="exampleFormControlInput1"
                            placeholder="Subject"
                          />
                        </div>
                        <div class="mb-3">
                          <input
                            type="email"
                            class="form-control"
                            id="exampleFormControlInput1"
                            placeholder="Email"
                          />
                        </div>
                        <div class="mb-3">
                          <textarea
                            class="form-control"
                            id="exampleFormControlTextarea1"
                            placeholder="Write your message here."
                            rows="10"
                          ></textarea>
                        
                      </div>
                      <div class="col-12 col-md-6">
                        <button class="btn btn-danger px-5 py-2">Send message</button>
                      </div>
                      
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class=" col-sm-12 col-md-6 info bg-light ">
              <div class="address">
                <h6>Address</h6>
                <p class="face">203 Fake St. Mountain View, San Francisco, California, USA</p>
              </div>
              <div class="address">
                <h6>Phone</h6>
                <p class="number-n">
                  +1 232 3235 324
                </p>
              </div>
                <div class="address">
                  <h6>Email Address</h6>
                  <p class="number-n">youremail@domain.com</p>
                </div>
            </div>
          </div>

        </div>
       
       
    </div>

</div>
