<div class="container global-work">
    <div class="work-title">
        <h5>HOW IT WORKS</h5>
        <h3>How It Works</h3>
    </div>
  
    <div class="container rowlow">
        <div class="row ">
          <div class="col order-last">
             <h5 class="titlework">Innovate</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium eos nulla qui commodi consectetur beatae fugiat. Veniam iste rerum perferendis.</p>
             <div class="check-icon">
                <ul>
                    <li><i class="fa fa-check  fa-2x" ></i>&nbsp;&nbsp; Lorem ipsum dolor sit amet.</li>
                    <br>
                    <li><i class="fa fa-check  fa-2x" ></i>&nbsp;&nbsp;Lorem ipsum dolor sit amet.</li>
                    <br>
                    <li><i class="fa fa-check  fa-2x" ></i>&nbsp;&nbsp;Lorem ipsum dolor sit amet.</li>
                </ul>
             </div>
          </div>
          <div class="col">
            <h5 class="titlework">Innovate</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium eos nulla qui commodi consectetur beatae fugiat. Veniam iste rerum perferendis.</p>
            <div class="check-icon">
                <ul>
                    <li><i class="fa fa-check  fa-2x" ></i>&nbsp;&nbsp; Lorem ipsum dolor sit amet.</li>
                    <br>
                    <li><i class="fa fa-check  fa-2x" ></i>&nbsp;&nbsp;Lorem ipsum dolor sit amet.</li>
                    <br>
                    <li><i class="fa fa-check  fa-2x" ></i>&nbsp;&nbsp;Lorem ipsum dolor sit amet.</li>
                </ul>
             </div>
          </div>
          <div class="col order-first">
            <h5 class="titlework">Innovate</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium eos nulla qui commodi consectetur beatae fugiat. Veniam iste rerum perferendis.</p>
            <div class="check-icon">
                <ul>
                    <li><i class="fa fa-check  fa-2x" ></i>&nbsp;&nbsp; Lorem ipsum dolor sit amet.</li>
                    <br>
                    <li><i class="fa fa-check  fa-2x" ></i>&nbsp;&nbsp;Lorem ipsum dolor sit amet.</li>
                    <br>
                    <li><i class="fa fa-check  fa-2x" ></i>&nbsp;&nbsp;Lorem ipsum dolor sit amet.</li>
                </ul>
             </div>
          </div>
        </div>
      </div>
</div>
