<div class="landing-pages">
  <div class="container landing-">
    <div class="row ">
        <div class="col-sm-12 col-md-6 tech-image">
            <img src="../../assets/apple-1834328_640.jpg">
        </div>
        <div class="col-sm-12 col-md-6 about-glob">
            <div class="about-text">
                <h6 class="about-us">About us</h6>
                <span class="text-consul"><h4>Welcome To Consula</h4> </span>
                <div class="paragraphe">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui fuga ipsa, repellat blanditiis nihil, consectetur. Consequuntur eum inventore, rem maxime, nisi excepturi ipsam libero ratione adipisci alias eius vero vel!
    
    
                    </p>
                </div>
                <div class="btn-learn ">
                    <button class="btn learn-btn"> Learn More</button>
                </div>
            </div>
           
        </div>
    </div>
  </div>
</div>
