<div class="container-fluid services">
    <div class="our-service">
        <h6>SERVICES</h6>
        <h3>Our Services</h3>
    </div>
    <div class="container services-icon">

        <div class="container rowlow">
            <div class="row ">
              <div class="col-md-4 ">
                <div class="d-flex">
                    <div class="">
                        <i class="fa fa-refresh" style="font-size:48px;color:#46ddb0"></i>  
                    </div>
                    <div class="">
                        <h3 class="titlework">Business Consulting</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium eos nulla qui commodi consectetur beatae fugiat. Veniam iste rerum perferendis.</p>
                        
                        <div class="lien">
                            <a href="">Learn More</a>
                        </div>
                    </div>
                </div>
                
              </div>
              <div class="col-md-4 ">
                <div class="d-flex">
                    <div class="">
                        <i class="fas fa-backspace" style="font-size:48px;color:#46ddb0"></i>  
                    </div>
                    <div class="">
                        <h3 class="titlework">Business Consulting</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium eos nulla qui commodi consectetur beatae fugiat. Veniam iste rerum perferendis.</p>
                        
                        <div class="lien">
                            <a href="">Learn More</a>
                        </div>
                    </div>
                </div>
                
              </div>

              <div class="col-md-4 ">
                <div class="d-flex">
                    <div class="">
                        <i class="fa fa-cloud" style="font-size:48px;color:v#46ddb0"></i>  
                    </div>
                    <div class="">
                        <h3 class="titlework">Business Consulting</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium eos nulla qui commodi consectetur beatae fugiat. Veniam iste rerum perferendis.</p>
                        
                        <div class="lien">
                            <a href="">Learn More</a>
                        </div>
                    </div>
                </div>
                
              </div>

              <br>
              <br>
              <div class="col-md-4 ">
                <div class="d-flex">
                    <div class="">
                     
                        <i class="fa fa-clock-o" style="font-size:48px;color:#46ddb0"></i> 
                    </div>
                    <div class="">
                        <h3 class="titlework">Business Consulting</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium eos nulla qui commodi consectetur beatae fugiat. Veniam iste rerum perferendis.</p>
                        
                        <div class="lien">
                            <a href="">Learn More</a>
                        </div>
                    </div>
                </div>
                
              </div>

              <div class="col-md-4 ">
                <div class="d-flex">
                    <div class="">
                        <i class='fas fa-globe' style='font-size:48px;color:#46ddb0'></i>  
                    </div>
                    <div class="">
                        <h3 class="titlework">Business Consulting</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium eos nulla qui commodi consectetur beatae fugiat. Veniam iste rerum perferendis.</p>
                        
                        <div class="lien">
                            <a href="">Learn More</a>
                        </div>
                    </div>
                </div>
                
              </div>

              <div class="col-md-4 ">
                <div class="d-flex">
                    <div class="">
                        <i class="fa fa-refresh" style="font-size:48px;color:v#46ddb0"></i>  
                    </div>
                    <div class="">
                        <h3 class="titlework">Business Consulting</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium eos nulla qui commodi consectetur beatae fugiat. Veniam iste rerum perferendis.</p>
                        
                        <div class="lien">
                            <a href="">Learn More</a>
                        </div>
                    </div>
                </div>
                
              </div>

            </div>
          </div>
    </div>
</div>
