<div class="container blog">
    <div class="card-group">
        <div class="card">
          <img src="../../assets/téléchargement.jpg" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
            <h6 class="card-title-text"><span class="Ham"></span> Ham Brook <span class="point">.</span> Jan 18 <span class="point">.</span> 2019 <span class="news">News</span> .</h6>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text-small">Continue Reading...</p>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/téléchargement (2).jpg" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
            <h6 class="card-title-text"><span class="Ham"></span> Ham Brook <span class="point">.</span> Jan 18 <span class="point">.</span> 2019 <span class="news">News</span> .</h6>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text-small">Continue Reading...</p>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/téléchargement (1).jpg" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
            <h6 class="card-title-text"><span class="Ham"></span> Ham Brook <span class="point">.</span> Jan 18 <span class="point">.</span> 2019 <span class="news">News</span> .</h6>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text-small">Continue Reading...</p>
          </div>
        </div>
      </div>
</div>
